.body-header
  .ichidan
    .logo
      %img{src: "assets/logo/logo.png", class: "logo__img"}/
    .Search-bar
      .Search-bar__inputBox
        %input.Search-bar__inputBox--text{placeholder: "キーワードから探す", "type": "text"}
        .Search-bar__inputBox--btn
          %img{src: "assets/icon/icon-search_1.png", class: "Search-bar__inputBox--btn__icon"}/
  .nidan
    .Search-menu
      .Search-menu__category
        = link_to "", class: "Search-menu__category--btn" do
          %img{src: "assets/icon/icon_category.png", class: "Search-menu__category--btn__icon"}/
          %span<>
        = link_to "", class: "Search-menu__category--text" do
          カテゴリーから探す
      .Search-menu__brand
        = link_to "", class: "Search-menu__brand--btn" do
          %img{src: "assets/icon/icon_brand.png", class: "Search-menu__brand--btn__icon"}/
          %span<>
        = link_to "", class: "Search-menu__brand--text" do
          ブランドから探す
    .Btn
      .Btn__login
        ログイン
      .Btn__join
        新規会員登録