%main.usermypage
  .usermypage_contents
    .usermypage_sidebar
      -# .nav マイページ
      -# .nav お知らせ
      -# .nav　やることリスト
      -# .nav　お気に入り一覧
      -# .nav　出品する
      -# .nav　下書き一覧
      -# .nav　出品した商品＿出品中
      -# .nav　出品した商品＿取引中
      -# .nav　出品した商品＿売却済み
      -# .nav　購入した商品＿取引中
      -# .nav　出品した商品＿過去の取引
      -# .nav　ニュース一覧
      -# .nav　評価一覧
      -# .nav　ガイド
      -# .nav　お問い合わせ

      -# .nav　フリぺい

      -# .nav　売上・振込申請
      -# .nav　ポイント

      -# .nav　設定

      -# .nav　プロフィール
      -# .nav　発送元・お届け先住所変更
      -# .nav　支払い方法
      -# .nav　メール／パスワード
      -# .nav　本人情報
      -# .nav　電話番号の確認
      -# .nav　ログアウト
    .usermypage_main
      .usermypage_main__info
      .usermypage_main__news

