%main.usermypage

  .usermypage_topフリマ＞マイページ

  .usermypage_contents
    .sidebar
      .usermypage_sidebar
        .nav マイページ
        .nav 出品した商品＿売却済み
      
      .usermypage_sidebar1
        %p 設定

        .nav 支払い方法
        .nav ログアウト


    .usermypage_main

      .usermypage_main_profile
        = image_tag 'member_photo_noimage_thumb.png'
         
        %P　フリマ
        %P　評価 2 出品数　2
        
      .usermypage_main__info
        .usermypage_main__info_tab1
          %P お知らせ
          %p.right やることリスト

        .userpege_main_info_111
        %p.underpart 一覧を見る

      .usermypage_main__news
        %p 購入した商品

        .usermypage_main__news-1
          %p.underpart.right 取引中
          %p.underpart.under 過去の取引
          
        .usermypage_main__news-main