%main.usermypage
  .usermypage_contents
    .usermypage_sidebar
      .nav マイページ
      .nav 出品した商品＿売却済み
      
      .nav 設定

      .nav 支払い方法
      .nav ログアウト



    .usermypage_main
      .usermypage_main__info
        .usermypage_main__info_tab1
          %P お知らせ
          %p.right やることリスト
        .userpege_main_info_panels
          .userpege_main_info_panels_show
        %p.under 一覧を見る
      .usermypage_main__news
        %p 購入した商品
        
        %p.under.right 取引中
        %p.under.under 過去の取引
        
 