.AccountPage__footer
  .AccountPage__footer--btn
    = link_to "プライバシーポリシー","#"
    = link_to "フリマ利用規約","#"
    = link_to "特定商取引に関する表記","#"
    = link_to image_tag("/images/logo/logo-white.png", class:"logo-footer"),root_path
    %p.buttom ©FURIMA