:root{
  --white-color: white;
  --label-red: red;
  --new-border-color: rgb(206, 206, 206);
  --font-gray: rgb(156, 156, 156);
  --font-blue: dodgerblue;
}

@mixin item-main-label{
  color: var(--white-color);
  font-weight: bold;
  font-size: 12px;
  padding: 0 5px;
  margin: 35px 0 17px 0;
  border-radius: 3px;
}

@mixin item-main-btn{
  height: 50px;
  width: 360px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@mixin item-main-bar{
  width: 620px;
  height: 50px;
  font-size: 15px;
  padding-left: 15px;
  border: 1px solid var(--new-border-color);
  border-radius: 5px;
}