* {
  box-sizing: border-box;
}

:root{
  --main-color: rgb(56, 204, 197);
  --white-color: white;
}

.body{
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;

  .Top-bar{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-top: 1px solid rgb(223, 223, 223);
    box-shadow: 0 4px 4px rgb(223, 223, 223);
    &__link{
      font-size: 14px;
      margin: 0 10px 0 100px;
      text-decoration: none;
      color: black;
    }
    &__bold{
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px
    }
    &__bold2{
      font-size: 14px;
      font-weight: bold;
    }
  }

  .Item{
    width: 700px;
    margin: 40px auto 10px auto;
    background-color: var(--white-color);
    padding-bottom: 40px;
    &__title{
      font-size: 23px;
      margin: 30px 0 20px 0;
      font-weight: bold;
      text-align: center;
    }
    &__img{
      width: 300px;
      height: 300px;
      margin: 0 auto;
      background-color: royalblue;
    }
    &__little{
      display: flex;
      justify-content: center;
      &--1{
        width: 75px;
        height: 75px;
        background-color: skyblue;
      }
      &--2{
        width: 75px;
        height: 75px;
        background-color: tomato;
      }
      &--3{
        width: 75px;
        height: 75px;
        background-color: skyblue;
      }
      &--4{
        width: 75px;
        height: 75px;
        background-color: tomato;
      }
    }
    &__price{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin-top: 28px;
    }
    &__tax{
      text-align: center;
      margin-bottom: 28px;
    }

    .Buy-btn{
      width: 630px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-color);
      border-radius: 5px;
      &__text{
        font-size: 14px;
        text-align: center;
        color: var(--white-color);
      }
    }
    &__text{
      margin: 10px 35px 20px 35px;
      font-size: 18px;
    }

    .Table{
      margin: 0 auto 0 auto;
      border: 1px solid rgb(203, 203, 203);
      font-size: 14px;
      &__title{
        width: 150px;
        background-color: rgb(240, 240, 240);
        border-right: 1px solid rgb(203, 203, 203);
        text-align: center;
      }
      &__text{
        margin-left: 15px;
        width: 460px;
      }
      tr{
        height: 60px;
        border-bottom: 1px solid rgb(203, 203, 203);
      }
      .color{
        text-decoration: none;
        color: dodgerblue;
        margin-left: 15px;
      }
      .category-top{
        margin-top: 15px;
      }
      .category{
        display: flex;
        flex-direction: column;
      }
      .category-bottom{
        margin-bottom: 15px;
      }
    }
    &__btn{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      height: 40px;
      &--favorite{
        display: flex;
        align-items: center;
        color: var(--main-color);
        border: 1px solid orange;
        border-radius: 20px;
        padding: 7px;
        margin-left: 35px;
        .star-icon{
          margin-right: 5px;
        }
        .count{
          margin-left: 5px;
        }
      }
      &--report{
        display: flex;
        align-items: center;
        font-size: 14px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 10px;
        margin-right: 35px;
      }
      .flag-icon{
        margin-right: 5px;
      }
    }
  }
}