* {
  box-sizing: border-box;
}

:root{
  --main-color: rgb(56, 204, 197);
  --white-color: white;
}

.body{
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  .Top-bar{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-top: 1px solid rgb(223, 223, 223);
    box-shadow: 0 4px 4px rgb(223, 223, 223);
    &__link{
      font-size: 14px;
      margin: 0 10px 0 100px;
      text-decoration: none;
      color: black;
    }
    &__bold{
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px
    }
    &__bold2{
      font-size: 14px;
      font-weight: bold;
    }
  }
  .Item{
    width: 700px;
    height: 1000px;
    margin: 40px auto 0 auto;
    background-color: rosybrown;
    &__title{
      font-size: 23px;
      margin: 30px 0 20px 0;
      font-weight: bold;
      text-align: center;
    }
    &__img{
      width: 300px;
      height: 300px;
      margin: 0 auto;
      background-color: royalblue;
    }
    &__little{
      display: flex;
      justify-content: center;
      &--1{
        width: 75px;
        height: 75px;
        background-color: skyblue;
      }
      &--2{
        width: 75px;
        height: 75px;
        background-color: tomato;
      }
      &--3{
        width: 75px;
        height: 75px;
        background-color: skyblue;
      }
      &--4{
        width: 75px;
        height: 75px;
        background-color: tomato;
      }
    }
    &__price{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin-top: 28px;
    }
    &__tax{
      text-align: center;
      margin-bottom: 28px;
    }
    .Buy-btn{
      width: 630px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-color);
      border-radius: 5px;
      &__text{
        font-size: 14px;
        text-align: center;
        color: var(--white-color);
      }
    }
  }
}