* {
  box-sizing: border-box;
}

:root{
  --white-color: white;
  --back-color: rgb(245, 245, 245);
  --label-red: red;
  --new-border-color: rgb(206, 206, 206);
  --font-gray: rgb(156, 156, 156);
}

.body{
  width: 100%;
  background-color: var(--back-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Top-logo{
  margin: 45px 0 35px 0;
  &__img{
    width: 180px;
    height: 47px;
  }
}

.Data{
  width: 700px;
}

.Image-space{
  height: 300px;
  padding-left: 40px;
  background-color: var(--white-color);
  &__text{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
  &__detail{
    font-size: 14px;
    margin-bottom: 15px;
  }
  &__box{
    width: 620px;
    height: 150px;
    background-color: var(--back-color);
    border: dashed 1px var(--new-border-color);
    &--in{
      display: flex;
      align-items: center;
      flex-direction: column;
      .camera-icon{
        font-size: 20px;
        margin: 50px 0 7px 0;
      }
      p{
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}

.Item{
  height: 420px;
  padding-left: 40px;
  margin: 1px 0;
  background-color: var(--white-color);
  &__name{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
  &__input{
      width: 620px;
      height: 50px;
      font-size: 15px;
      padding-left: 10px;
      border: 1px solid var(--new-border-color);
      border-radius: 5px;
  }
  &__detail{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 0 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 2px 0;
      border-radius: 3px;
    }
  }
  &__text{
    font-size: 14px;
    &--form{
      width: 620px;
      height: 160px;
      padding: 10px 0 0 10px;
      border: 1px solid var(--new-border-color);
      border-radius: 5px;
    }
  }
  .count{
    font-size: 11px;
    padding: 10px 0 0 580px;
    color: var(--font-gray)
  }
}

.Detail{
  background-color: var(--white-color);
  padding: 40px 0 0 40px;
  p{
    color: var(--font-gray);
    font-size: 14px;
    font-weight: bold;
  }
  &__category{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
  &__brand{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .gray-label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: rgb(194, 194, 194);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
  &__state{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
}

.Sending{
  background-color: var(--white-color);
  padding: 40px 0 0 40px;
  margin-top: 1px;
  &__title{
    display: flex;
    position: relative;
    p{
      color: var(--font-gray);
      font-size: 14px;
      font-weight: bold;
    }
    .question{
      font-size: 14px;
      color: dodgerblue;
      position: absolute;
      top: 3px;
      left: 88px;
    }
  }
  &__burden{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
  &__area{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
  &__days{
    display: flex;
    .text{
      font-weight: bold;
      font-size: 14px;
      margin: 35px 15px 15px 0;
    }
    .label{
      color: var(--white-color);
      font-weight: bold;
      font-size: 12px;
      background-color: var(--label-red);
      padding: 0 5px;
      margin: 35px 0 17px 0;
      border-radius: 3px;
    }
  }
}

.Price{
  background-color: var(--white-color);
  padding: 40px 0 0 40px;
  margin-top: 1px;
  &__title{
    display: flex;
    position: relative;
    p{
      color: var(--font-gray);
      font-size: 13px;
      font-weight: bold;
    }
    .number{
      color: var(--font-gray);
      font-size: 12px;
      font-weight: bold;
    }
    .question{
      font-size: 14px;
      color: dodgerblue;
      position: absolute;
      top: 2px;
      left: 170px;
    }
  }
  &__set{
    display: flex;
    justify-content: space-between;
    &--title{
      display: flex;
      .text{
        font-weight: bold;
        font-size: 14px;
        margin: 35px 15px 15px 0;
      }
      .label{
        color: var(--white-color);
        font-weight: bold;
        font-size: 12px;
        background-color: var(--label-red);
        padding: 0 5px;
        margin: 35px 0 17px 0;
        border-radius: 3px;
      }
    }
    &--value{
      display: flex;
      align-items: center;
      padding-right: 40px;
      margin-top: 15px;
      .mark{
        margin-right: 10px;
        font-size: 13px
      }
      &__bar{
        width: 285px;
        height: 50px;
        border: 1px solid var(--new-border-color);
        border-radius: 5px;
        padding-left: 245px;
      }
    }
  }
  &__fee{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .text{
      display: flex;
      p{
        font-size: 14px;
      }
      .rate{
        font-size: 13px;
      }
    }
    .display{
      padding-right: 40px;
    }
  }
  &__bar{
    background-color: rgb(221, 221, 221);
    height: 1px;
    width: 620px;
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }
  &__profit{
    display: flex;
    justify-content: space-between;
    p{
      font-size: 14px;
    }
    .display{
      padding-right: 40px;
    }
  }
}