.body
  .Top-bar
    .Top-bar__text フリマ 
    .Top-bar__bold > 商品名
  .Item
    .Item__title
    .Item__img
      .Item__img--little1
      .Item__img--little2
      .Item__img--little3
      .Item__img--little4
  .price お値段円
  .tax （税込） 送料込み
