$color-main: rgb(255, 255, 255);
$color-sub: #f5f5f5;
$color-sub1: rgb(243, 243, 243);
$color-sub2:rgba(201, 201, 201, 0.555);
$color-sub3:rgb(172, 172, 172);
$color-sub4:rgb(211, 211, 211);

* {
  box-sizing: border-box;
  // font-size: large;
}

.usermypage{
  background-color: $color-sub;
  
  .usermypage_top{
    height: 60px;
    width: 100%;
    background-color: $color-main;
    padding: 20px;
    margin: 0 0 40px 0;
  }
}

.usermypage_contents{
  width: 1100px;
  margin: 0 auto;
  background:$color-sub;
  display: flex;
  justify-content: space-between;

  .sidebar{
    width:280px;
  }

  .usermypage_sidebar{
    height: 100px;
    background:$color-main;
    margin-bottom:50px;

    .nav{
      height: 50px;
      display: flex;
      padding: 0 25px;
      align-items: center;
      border-bottom: 1px solid $color-sub2;
      }
    }

  .usermypage_sidebar1{
    height: 100px;
    
    .nav{
      height: 50px;
      padding: 0 25px;
      display: flex;
      background: $color-main;
      align-items: center;
      border-bottom: 1px solid $color-sub2;
      }
  }
}

.usermypage_main_profile{
width: 700px;
height: 200px;
text-align: center;
margin-bottom: 40px;
background-image: image-url(user-bg-92abc43dd6bd62c589748715160c55a1eb8a3900a0bdd5b44ee9058026e46754);

  img{
    margin-top: 40px;
    height: 100px;
    width: 100px;
  }

  p{
    height: 20px;
    text-align: center;
    }

  p{
    .image_tag{
    height: 100px;
    }
  }
}

  .usermypage_main{
    width:700px;
   
    &__info{
      width:100%;
      background:$color-main;
      padding-bottom: 45px;
      text-align: center;

      &_tab1{
        width: 100%;
        display: flex;
        background-color: $color-main;

        p{
          width:100%;
          height: 100%;
          line-height: 50px;
        }
      
        .right{
          width:100%;
          height: 100%;
          background-color: $color-sub3;
        }
      }
    }
  }

      .userpege_main_info_111{
        height: 300px;
        width: 100%;
        background-color: $color-main;
        margin-bottom: 30px;
      }

        .underpart{
          height: 50px;
          width: 80%;
          border: solid 1px $color-main;
          text-align: center;
          margin: 0 auto;
          background: $color-sub4;
        }
        
      .usermypage_main__news{
        width:100%;
        height:475px;
        margin-top: 50px;
        background:$color-sub1;
        padding: 16px, 0;
        margin-bottom: 25px;

        &-1{
          display: flex;
          padding-top: 15px;
        }
        &-main{
          height: calc(100% - 92px);
          background-color: $color-main;
        }
      }

        .underpart.right{
          height: 50px;
          background-color: $color-main;
          width: 50%;
        }
 
        .underpart.under{
          width: 50%;
         }