* {
  box-sizing: border-box;
}

.usermypage{
  background-color: #faf3f3;
}

.usermypage_contents{
  width: 1000px;
  margin: 0 auto;
  background: rgb(192, 192, 192);
  display: flex;

  .usermypage_sidebar{
    width:400px;
    height: 1000px;
    background:rgb(255, 255, 255);
    margin-right: 50px;

    .nav{
      height: 50px;
      padding: 0 25px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}


.usermypage_main_profile{
width: 700px;
height: 200px;
background-color: complement($color: #000000);


}
  .usermypage_main{
    width:1000px;
   

    &__info{
      width:100%;
      background:rgb(255, 255, 255);
      padding-bottom: 45px;
      text-align: center;
      &_tab1{
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);

        p{
          width:100%;
          height: 100%;
          line-height: 50px;
        }
      
        .right{
          width:100%;
          height: 100%;
          background-color: rgb(235, 238, 231);
        }
      }
    }
      
      
  }
      .userpege_main_info_111{
        height: 300px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        margin-bottom: 30px;
      }

        .under{
          height: 50px;
          width: 80%;
          border: solid 1px rgb(255, 255, 255);
          text-align: center;
          margin: 0 auto;
          background: rgb(131, 131, 131);
        }
        
      .usermypage_main__news{
        width:100%;
        height:475px;
        margin-top: 50px;
        background:rgb(220, 220, 221);
        text-align: center;

      &-1{
        display: flex;
        padding-top: 15px;
  }
  }

        .under.right{
          height: 50px;
          align-items: center;
          background-color: rgb(175, 180, 169);
          width: 50%;
        }
 
        .under.under{
          width: 50%;
         }
