* {
  box-sizing: border-box;
}

:root{
  --header-main-color: rgb(56, 204, 197);
  --white-color: white;
}

.body-header{
  padding: 0 80px;
  height: 110px;
  background-color: var(--white-color);
  position: relative;

  .up{
    height: 60px;
    display: flex;
    .logo{
      width: 140px;
      margin-right: 41px;
      &__img{
        width: 140px;
        margin-top: 15px;
      }
    }
    .Search-bar{
      width: calc(100% - 180px);
      &__inputBox{
        padding-top: 20px;
        display: flex;
        form{
          width: 100%;
          height: 37px;
          padding-left: 5px;
          display: flex;
        }
        &--btn{
          width: 37px;
          height: 37px;
          background-color: var(--header-main-color);
          position: relative;
          border: none;
          &__icon{
            width: 21px;
            height: 21px;
            position: absolute;
            top: 12px;
            left: 8px;
            color: white;
          }
        }
      }
    }
  }

  .under{
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    .Search-menu{
      width: 340px;
      display: flex;
      text-align: center;
      line-height: 55px;
      &__category{
        width: 170px;
        display: flex;
        justify-content: center;
        &--btn{
          padding-right: 5px;
          margin-left: 10px;
          &__icon{
            width: 14px;
            height: 13px;
          }
        }
        &--text{
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
      }
      &__brand{
        width: 170px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        &--btn{
            padding-right: 5px;
            margin-left: 10px;
            &__icon{
              width: 15px;
              height: 15px;
              transform: rotate(-135deg);
            }
        }
        &--text{
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
      }
    }

    .Btn{
      width: 300px;
      display: flex;
      font-size: 14px;
      text-align: center;
      line-height: 32px;
      &__login{
        width: 150px;
        margin: 7px 15px 9px 0;
        color: dodgerblue;
        text-decoration: none;
        border: 1px solid dodgerblue;
        border-radius: 5px;
        background-color: var(--white-color);
      }
      .logout-btn{
        width: 150px;
        height: 34px;
        padding: 2px 0px 2px 0px;
      }
      &__join{
        width: 150px;
        margin: 7px 3px 9px 0px;
        color: var(--white-color);
        text-decoration: none;
        border-radius: 5px;
        background-color: var(--header-main-color);
      }
      .btn {
        text-decoration: none;
      }
    }
  }
  .Exhibit{
    width: 120px;
    height: 120px;
    background-color: var(--header-main-color);
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    text-decoration: none;
    bottom: 30px;
    right: 30px;
    &__text{
      font-size: 18px;
      color: var(--white-color);
      text-align: center;
      margin: 15px 0 5px 0;
    }
    &__icon{
      display: flex;
      justify-content: center;
      &--pict{
        width: 55px;
        height: 55px;
      }
    }
  }
}