* {
  box-sizing: border-box;
  text-decoration: none;
}

@import "tops-main-mixin";

.PickCategory{
  font-weight: bold;
  text-align: center;
  background-color: rgb(245, 245, 245);
  padding-bottom: 20px;
  &__text{
    &--title{
      padding-top: 70px;
      font-size: 27px;
      letter-spacing: 1px;
    }
    &--new{
      font-size: 24px;
      color: var(--main-main-color);
      margin-bottom: 25px;
    }
  }
  &__img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &--new{
      @include top-new-img;
      margin: 10px 10px 10px 10px;
      background-color: var(--white-color);
      position: relative;
      &__images{
        width: 190px;
        height: calc(250px - 90px);
        object-fit: cover;
      }
      .sold-out{
        width: 0;
        height: 0;
        border-top: 30px solid var(--main-main-color);
        border-right: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid var(--main-main-color);
        z-index: 100;
        position: absolute;
        top: -0px;
        &__text{
          transform: rotate(-45deg);
          font-size: 13px;
          margin: -15px -10px 0px -26px;
          color: var(--white-color);
          letter-spacing: 2px;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
      .main-Label{
        @include top-label;
        &__text{
          @include top-label-text;
          &--name{
            font-size: 15px;
            margin: 10px 0 5px 0;
          }
          &--price{
            font-size: 15px;
            text-align: 10px
          }
          &--tax{
            font-size: 8px;
          }
        }
      }
    }
  }
}

.PickBrand{
  font-weight: bold;
  text-align: center;
  padding-bottom: 100px;
  background-color: rgb(245, 245, 245);
  &__text{
    &--title{
      padding-top: 70px;
      font-size: 27px;
      letter-spacing: 1px;
    }
    &--arc{
      font-size: 24px;
      color: var(--main-main-color);
    }
  }
  &__img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    &--new{
      @include top-new-img;
      margin: 0 10px 10px 10px;
      background-color: rosybrown;
      &__images{
        width: 190px;
        height: calc(250px - 90px);
        object-fit: cover;
      }
      .main-Label-arc{
        @include top-label;
        &__text{
          @include top-label-text;
          &--name{
            font-size: 15px;
            margin: 10px 0 5px 0;
          }
          &--price{
            font-size: 15px;
            text-align: 10px
          }
          &--tax{
            font-size: 8px;
          }
        }
      }
    }
  }
}